[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "esATAC"]
	path = esATAC
	url = https://github.com/wzthu/esatac
	shallow = true
	registered = true
[submodule "pipeFrame"]
	path = pipeFrame
	url = https://github.com/wzthu/pipeframe
	shallow = true
	registered = true
[submodule "enrichTF"]
	path = enrichTF
	url = https://github.com/wzthu/enrichtf
	shallow = true
	registered = true
