[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "enrichTF"]
	path = enrichTF
	url = https://github.com/wzthu/enrichtf
[submodule "esATAC"]
	path = esATAC
	url = https://github.com/wzthu/esatac
[submodule "pipeFrame"]
	path = pipeFrame
	url = https://github.com/wzthu/pipeframe
